/* nav bar css */
*{
  font-family: 'Plus Jakarta Sans';
}
.owl-carousel .active span{
  background-color:#34cac6 !important;
}
.navbar {
  /* background-color: #ffffff; */
  height: 80px;
  position: relative;
  
  /* width: 1140px; */
}

.navbar-brand {
  font-weight: 700;
}
.nav-link {
  font-size: 16px;
  font-weight: 500;
  color: #121511;
}

.nav-btn-primary {
  background-color: #34cac6;
  margin-right: 25px;
  border-radius: 20px;
  color: #ffffff;
}

.nav-item{
  margin-right: 20px;
}
@media screen and (max-width: 992px) {
  .navbar-item{
    background-color: #ffffff;
    opacity: 0.8;
    border-radius: 15px;
    z-index: 1; 
  }

  ul,.nav-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .nav-btn .login{
    margin-left: 15px;
  }
  .nav-link{
    font-weight: 800; 
  }
  .hero-img{
    height: 40%;
  }
  
  
  /* .nav-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
  } */
  .btn {
    margin: 0px;
    font-weight: 800;
  }


}

/* hero section */
.outer-hero{
  background-color: #F4F9F8;
}
.inner-hero {
  height: 792px;
  /* width: 761px; */
}
.hero-img {
  height: 100%;
  width: 100%;
}
           
.hero-text{
  font-size: 64px;
  font-family: 'Plus Jakarta Sans';
  color: #121511;
  font-weight: 600;
  line-height: 80px;

}

@media screen and (max-width:678px){
  .hero-text{
    font-size: 40px;
    line-height: 50px;
  } 
  
}

.filter-bar{
  height:120px ;
  /* width: 1140px; */
  border-radius:50px;
  background-color: #ffffff;
}
.filter-bar h5{
  color:#121511;
  font-size: 20px;
}

.filter-bar-btn{
  /* margin: 15px; */
  height: 120px;
  width: 200px;
  border-radius: 50px;
  background-color: #34cac6;
  color: #ffffff;
  font-size: 20px;
  margin-left: 60px;
}
.filter-bar-btn:hover{
  background-color: #34cac6;
  color: #ffffff;
}


/* best offer */
.best-outer{
  height: 550px;
}
.best-outer h1{
  font-size: 48px;
}

.best-offer-btn, .best-offer-btn:hover{
  background-color:#F1F7F6;
  border-radius: 20px;
  height: 40px;
  width: 102px;
  color: #34cac6;
}


.book-btn{
  background-color: #34cac6;
  color: #ffffff;
  border-radius: 20px;
}
.book-btn:hover{
  background-color: #34cac6;
  color: #ffffff;
}
.offer-card{

  height:262px;
  width: 700px;
  
}
.offer-card-inner{
  background-color: #F4F9F8;
  width: 630px;
  border-radius: 15px;
}
.offer-img{
  height: 200px;
  width: 200px !important;
}



/* popular */

.popular-card{
  height:425px ;
  width: 400px;
  border-radius: 25px;
}

.popular-card .card-img-top{
  height: 260px;
}

.populart-btn, .populart-btn:hover{
  background-color:#34cac6;
  border-radius: 20px;
  height: 40px;
  width: 102px;
  color: #ffffff;
}

@media screen and (max-width:992px){
  .best-offer-btn{
    width: 150px;
  }
  .offer-card-inner{
    background-color: #F4F9F8;
    width: 400px;
    border-radius: 15px;
  }
  .offer-img{
    height: 100px;
    width: 100px !important;
  }

  .best-text{
    font-size: 10px;
  }
  .offer-card{
    height:200px;
   
  }
  
.populart-btn, .populart-btn:hover{
  margin-left: 10px;
}
.popular-card{
  height:325px ;
  width: 250px;
  border-radius: 25px;
}

}

/* care */
.care-inner{
  height: 590px;
  width: 465px;
}

.care-inner-right{
  height: 592px;
  width: 555px;
  background-color:#F4F9F8;
  border-radius: 15px;
}

@media screen and (max-width:678px){

  .care-text{
    font-size: 22px !important;
    font-weight: bold;
    
  }
  .care-inner{
    height: 450px;
    width: 465px;
  }
  .care-inner-right{
    height: 450px;
    width: 320px;
    background-color:#F4F9F8;
    border-radius: 15px;
  }
  .care-inner-right img{
    height: 250px !important;
    width: 250px !important;
  }

}

/* feedback */
.feedback-outer{
  width: 630px;
  height: 300px;
  background-color: #ffffff;
  border-radius: 10px;
}

.feed-img{
  width: 50px;
  height: 50px;
 
}
.happy{
  margin: 0px;
  padding: 0px;
}

.rating svg{
  height: 20px;
  width: 20px;
  fill: yellow;
  color:yellow;
  
  
}

@media screen and (max-width:678px){

  .care-text{
    font-size: 22px !important;
    font-weight: bold;
    
  }
  .care-inner{
    height: 450px;
    width: 465px;
  }
  .care-inner-right{
    height: 450px;
    width: 320px;
    background-color:#F4F9F8;
    border-radius: 15px;
  }
  .care-inner-right img{
    height: 250px !important;
    width: 250px !important;
  }
  .feedback-outer{
    width: 400px;
    height: 350px;
  }
  

}


/* footer */
.footer-link{
  text-decoration: none;
  color: #6E706E;
}

.footer-header{
  font-weight: bold;
}

.search-btn{
  background-color: #34cac6;
  /* font-size: 25px; */
  height: 55px;
  width: 180px;
  border-radius: 28px;
  position: absolute;
  right: 2%;
  top: 12%;
  color:#ffffff ;
}
.search-input{
  border-radius: 28px;
  height: 72px;
}

@media screen and (max-width: 992px) {
  .inner-hero {
    height: 650px;
    /* width: 761px; */
  }
  .search-btn{
    background-color: #34cac6;
    height: 55px;
    width: 120px;
  }
  .filter-bar{
    height: 500px;
    border-radius: 10px;
    opacity: 0.9;
    margin-right: 70px;
    bottom: 0px;
    left: 0px; 
  }
 .filter-bar{
      top: 8%;
    
  }
  .filter-bar-btn{
    height: 50px;
    width: 125px;
  }


 
}